.presentation-title {
  padding-top: 3em;
  font-size: 24px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  a {
    color: #333333;
  }

  &--admin {
    padding-top: 1.5em;
  }
}

.presentation-presenter {
  font-size: 18px;
}
