#slides.show,
.presentation_intro {
  .container {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.slide-body {
  font-size: 24px;
  margin-top: 1em;

  li {
    margin-top: 1em;
  }
}

.quote-container {
  text-align: center;
}

.code-section {
  padding: 1em;
  background-color: lightgray;
}

.bash-code {
  font-family: "American Typewriter";
  color: white;
  background-color: black;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;

  td {
    padding-right: 1em;
  }
}

.notes {
  font-size: 12px;
}

.indent {
  &--1 {
    margin-left: 1em;
  }
  &--2 {
    margin-left: 2em;
  }
  &--3 {
    margin-left: 3em;
  }
  &--4 {
    margin-left: 4em;
  }
  &--5 {
    margin-left: 5em;
  }
}

.image-container {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

.image-size {
  &--full {
    width: 100%;
  }

  &--half {
    width: 50%;
  }
}

.slide-section-container {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

.text {
  &--red {
    color: red;
  }

  &--green {
    color: #27ce27;
  }

  &--blue {
    color: blue;
  }
}
