.thumbnails-container {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  text-align: center;
  width: 366px;
  height: 199px;
  background-color: #d8d8d8;
  margin-right: 1em;
  margin-top: 1em;
}

.slide-number-thumbnail {
  margin-top: 1em;
  color: #ffffff;
  font-size: 36px;

  &--admin {
    margin-top: 0.5em;
  }
}

.slide-header-thumbnail {
  font-size: 24px;
}

.add-new-btn {
  margin-top: 1em;
  font-size: 64px;
  a {
    color: #ffffff;
  }
}

.new-presentation-thumbnail {
  background-color: #4a90e2;

  .presentation-title {
    font-size: 64px;
    a {
      color: #ffffff;
    }
  }

  .add-new-presentation-text {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
  }
}

.action-btns {
  display: flex;
  margin-top: 0.5em;
  padding-left: 21em;
}

.edit-slide-btn {
  margin-right: 0.5em;
}
