@import "bootstrap-sprockets";
@import "bootstrap";
@import "_navbar";
@import "_footer";
@import "_presentations";
@import "_slides";
@import "_slide_body";
@import "_thumbnails";

.page-header-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  height: 10vh;
}

.home-icon {
  width: 3vh;

  img {
    width: 100%;
  }
}

.session-icon {
  width: 3vh;

  img {
    width: 100%;
  }
}

.page-header {
  text-align: center;
  font-size: 5vh;
}
